{% extends 'base.html' %}

{% block title %}
    Flag Status
{% endblock %}

{%  block head %}
    <style>
        li {
            list-style: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Flag Status</h1>
    </div>
    {% for flag in flags%}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>
                    {{ flag.flag }}
                    <small>{{ flag.value }} Points</small>
                </h2>
            </div>
            <div class="panel-body">
                {{ flag.description|nl2br }}
            </div>
            <ul class="list-group">
                {% for solve in flag.discoveries %}
                    <li class="list-group-item">
                        <strong>{{ solve.discovery_user.get_name() }} ({{ solve.team.name }})</strong>
                        discovered at {{ solve.date_discovered }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {%  endfor %}
{% endblock %}