{% extends 'base.html' %}
{%  block title %}
Scoring Information
{% endblock %}
{%  block head %}
    <style>
        li {
            list-style: none;
        }

        .red {
            color: red;
        }

        .blue {
            color: blue
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Scores</h1>
    <ul>
        {% for team in teams %}
            <li class="credential">
                <h2>
                    <span class="fa fa-users fa-padded-left {{ team.role }}"></span>
                    {{ team.name }}
                </h2>
                <ul>
                    {% if team.services %}
                        <li>
                            <h3>
                                <i class="fa fa-tasks"></i>
                                Service Checks:
                                <strong>{{ team.scores['services_earned'] }} / {{ team.scores['services_maximum'] }}</strong>
                            </h3>
                        </li>
                    {% endif %}
                    {% if team.available_injects %}
                        <li>
                            <h3>
                                <i class="fa fa-briefcase"></i>
                                Injects:
                                <strong>{{ team.scores['injects_earned'] }}</strong>
                            </h3>
                        </li>
                    {% endif %}
                    {% if team.own_flags %}
                        <li>
                            <h3>
                                <i class="fa fa-flag"></i>
                                Flags Lost:
                                <strong>{{ team.scores['flags_lost'] }}</strong>
                            </h3>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {%  endfor %}
    </ul>

{% endblock %}