{% extends 'base.html' %}

{%  block head %}
    <style>
        li {
            list-style: none;
        }

    span.label {
        margin-left: 10px;
    }
    </style>
{% endblock %}

{% block content %}
    <h1>Inject Management</h1>
    <ul>
        {% for inject in injects %}
            <li>
                <h2>
                    {{ inject.title }}
                    <small>{{ inject.value }} Points.
                        {% for team in inject.teams %}
                            <span class="label label-{% if team.role == 'blue' %}primary{% else %}danger{% endif %}">{{ team.name }}</span>
                        {% endfor %}
                    </small>
                </h2>
                <p>{{ inject.body|nl2br }}</p>
                <p>
                    {% if not inject.can_submit() %}
                        <a href="{{ url_for('scoring.open_inject', inject_id=inject.id) }}" class="btn btn-success">Enable Inject</a>
                    {% else %}
                        <a href="{{ url_for('scoring.close_inject', inject_id=inject.id) }}" class="btn btn-danger">Close Inject</a>
                    {% endif %}
                </p>
                <ul>
                    {% for solve in inject.solves %}
                        <li>
                            <strong>{{ solve.team.name }}</strong> submitted at {{ solve.date_requested }}.
                            {% if not solve.is_reviewed() %}
                                <div class="btn-group" role="group">
                                    <a href="{{ url_for('scoring.approve_solve', solve_id=solve.id) }}" class="btn btn-xs btn-success">Approve</a>
                                    <a href="{{ url_for('scoring.reject_solve', solve_id=solve.id) }}" class="btn btn-xs btn-danger">Reject</a>
                                </div>
                            {% else %}
                                {% if solve.approved %}
                                    Approved
                                {% else %}
                                    Rejected
                                {% endif %}
                                    at {{ solve.date_reviewed }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {%  endfor %}
    </ul>

{% endblock %}