{% extends "base.html" %}
{% block title %}
CDT Stats
{% endblock %}
{% block head %}
<style>
    li.pass, li.fail {
        list-style: none;
    }

    li.pass .glyphicon {
        color: #04B431;
    }

    li.fail .glyphicon {
        color: #B40404;
    }
</style>
{% endblock %}
{% block content %}
<div class="row">
    <h1>Service History:</h1>
    <ul>
        {%- for check_round in check_rounds %}
            <li>Round {{ check_round.id }}:
            <ul>
                {%- for team_check_round in check_round.team_checks %}
                    {% if team_check_round.team.services %}
                        <li>Team: {{team_check_round.team.name}}
                        <ul>
                            {%- for service_check_round in team_check_round.service_results %}
                                <li>
                                    <a href="{{ url_for('services.team_service_overview', service_id=service_check_round.service.id) }}">
                                        <strong>{{ service_check_round.service.friendly_name() }}</strong>
                                        on {{service_check_round.service.host}}</a><ul>
                                    {%- for check in service_check_round.results %}
                                        <li class="{% if check.success %}pass{% else %}fail{% endif %}">
                                            <span class="glyphicon glyphicon-{% if check.success %}ok{% else %}remove{% endif %}"></span>
                                            {{ check.message }}
                                        </li>
                                    {% endfor %}
                                </ul></li>
                            {%- endfor %}
                        </ul></li>
                    {% endif %}
                {%- endfor %}
            </ul></li>
        {%- endfor %}

    </ul>
</div>
{% endblock %}