{% extends 'base.html' %}
{% block content %}
    <h1>Credentials for {{ team.name }}</h1>
    <ul>
        {% for credential in credentials %}
            <li><strong>{{ credential.user }}</strong>: last changed {{ credential.last_changed }}
                <ul>
                    {%  for service_check in credential.checks %}
                        <li>{{ service_check }}</li>
                    {% endfor %}
                </ul>
            </li>
        {%  endfor %}
    </ul>

{% endblock %}