{% extends 'base.html' %}

{% block title %}
Available injects for {{ team.name }}
{% endblock %}

{%  block head %}
    <style>
        li {
            list-style: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Available injects for {{ team.name }}</h1>
    </div>
    <ul>
        {% for inject in injects %}
            <li>
                <h2>
                    {{ inject.title }}
                    <small>{{ inject.value }} Points</small>
                </h2>
                <p>{{ inject.body|nl2br }}</p>
                <p>
                    <h3>Solves:
                    {{ solve_count(team, inject) }} /
                    {% if inject.is_unlimited() %}
                        Unlimited
                    {% else %}
                        {{ inject.max_solves }}
                    {% endif %}
                    {% if can_submit_inject(team, inject) %}
                        <small>
                            <a href="{{ url_for('scoring.solve_inject', inject_id=inject.id) }}"
                               class="btn btn-{% if has_pending_solve(team, inject) %}warning{% else %}primary{% endif %}">
                                <span class="fa fa-check-square-o"></span>
                                Request Solve
                            </a>
                        </small>
                    {% endif %}
                    </h3>

                    <ul>
                        {% for solve in team_solve_attempts(team, inject) %}
                            <li>
                                <strong>{{ solve.requesting_user.username }}</strong> submitted at {{ solve.date_requested }}.
                                {% if not solve.is_reviewed() %}
                                    <span class="label label-warning">Pending</span>
                                {% else %}
                                    {% if solve.approved %}
                                        <span class="label label-primary">Approved for {{ solve.value_approved }} points</span>
                                    {% else %}
                                        <span class="label label-danger">Rejected</span>
                                    {% endif %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </p>
            </li>
        {%  endfor %}
    </ul>

{% endblock %}